<div id="sample" class="page-layout simple right-sidebar" fxLayout="row">



    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <!-- <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 mb-0 welcome-message"
                      [@animate]="{value:'*',params:{x:'50px'}}">Welcome back, John!
                </span>

                <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                        (click)="toggleSidebar('project-dashboard-right-sidebar-1')">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div fxLayout="row">

                <div class="selected-project">{{selectedProject.name}}</div>

                <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu"
                        aria-label="Select project">
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #projectsMenu="matMenu">
                    <button mat-menu-item *ngFor="let project of projects" (click)="selectedProject = project">
                        <span>{{project.name}}</span>
                    </button>
                </mat-menu>
            </div>
        </div> -->
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <!-- <div class="content"> -->
            <!-- CONTENT -->
            <!-- <div class="content-card"> -->
            <mat-tab-group>
                <mat-tab label="Tile view">
                    <div class="tab-content p-24">
                        <!-- PUT YOUR TAB CONTENT HERE -->
                        <!-- <div class="mat-elevation-z8"> -->
                        <div>
                            <div id="cards" class="page-layout simple fullwidth">
                                <div class="content">
                                    <div class="cards">
                                        <div class="card">
                                            <div class="card-preview">
                                                <div class="fuse-card">
                                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
                                                        <div class="pr-16">
                                                            <div class="h1">Heading 1</div>
                                                            <div class="h4 secondary-text">Travel guide</div>
                                                        </div>

                                                        <div class="w-120 h-120">
                                                            <img src="https://kumdotv.com/images/chemical-clipart-chemical-change-5.png">
                                                        </div>

                                                    </div>

                                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                        <button mat-button color="accent">Maintenance</button>
                                                        <button mat-button color="accent">Treatment</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-preview">

                                                <div class="fuse-card">

                                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">

                                                        <div class="pr-16">
                                                            <div class="h1">Heading 2</div>
                                                            <div class="h4 secondary-text">Started time</div>
                                                        </div>

                                                        <div class="w-120 h-120">
                                                            <img src="https://dumielauxepices.net/sites/default/files/elements-clipart-chemistry-background-594836-2019309.png">
                                                        </div>

                                                    </div>

                                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                        <button mat-button color="accent">Maintenance</button>
                                                        <button mat-button color="accent">Treatment</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-preview">

                                                <div class="fuse-card">

                                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">

                                                        <div class="pr-16">
                                                            <div class="h1">Heading 2</div>
                                                            <div class="h4 secondary-text">Started time</div>
                                                        </div>

                                                        <div class="w-120 h-120">
                                                            <img src="https://kumdotv.com/images/chemical-clipart-chemical-change-5.png">
                                                        </div>

                                                    </div>

                                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                        <button mat-button color="accent">Maintenance</button>
                                                        <button mat-button color="accent">Treatment</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-preview">

                                                <div class="fuse-card">

                                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">

                                                        <div class="pr-16">
                                                            <div class="h1">Heading 2</div>
                                                            <div class="h4 secondary-text">Started time</div>
                                                        </div>

                                                        <div class="w-120 h-120">
                                                            <img src="https://dumielauxepices.net/sites/default/files/elements-clipart-chemistry-background-594836-2019309.png">
                                                        </div>

                                                    </div>

                                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                        <button mat-button color="accent">Maintenance</button>
                                                        <button mat-button color="accent">Treatment</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-preview">

                                                <div class="fuse-card">

                                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">

                                                        <div class="pr-16">
                                                            <div class="h1">Heading 2</div>
                                                            <div class="h4 secondary-text">Started time</div>
                                                        </div>

                                                        <div class="w-120 h-120">
                                                            <img src="https://kumdotv.com/images/chemical-clipart-chemical-change-5.png">
                                                        </div>

                                                    </div>

                                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                        <button mat-button color="accent">Maintenance</button>
                                                        <button mat-button color="accent">Treatment</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-preview">

                                                <div class="fuse-card">

                                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">

                                                        <div class="pr-16">
                                                            <div class="h1">Heading 2</div>
                                                            <div class="h4 secondary-text">Started time</div>
                                                        </div>

                                                        <div class="w-120 h-120">
                                                            <img src="https://kumdotv.com/images/chemical-clipart-chemical-change-5.png">
                                                        </div>

                                                    </div>

                                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                        <button mat-button color="accent">Maintenance</button>
                                                        <button mat-button color="accent">Treatment</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
                        </div>
                        <!-- / PUT YOUR TAB CONTENT HERE -->
                    </div>
                </mat-tab>
                <mat-tab label="Table view ">
                    <div class="tab-content p-24">
                        <!-- PUT YOUR TAB CONTENT HERE -->
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>

                        <div class="content-card">
                            <table class="prodproducts-table" mat-table [dataSource]="dataSource" matSort>

                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                </ng-container>

                                <!-- Progress Column -->
                                <ng-container matColumnDef="progress">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                                    <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                </ng-container>

                                <!-- Color Column -->
                                <ng-container matColumnDef="color">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                                    <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                        <!-- / PUT YOUR TAB CONTENT HERE -->
                    </div>
                </mat-tab>
            </mat-tab-group>
            <!-- </div> -->
            <!-- / CONTENT -->
            <!-- </div> -->
        </div>
    </div>
</div>