@import "src/@fuse/scss/fuse";

sample {

    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
    }

    > .center {

        > .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;

            .selected-project {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
            }

            .project-selector {
                margin-left: 1px;
                border-radius: 0;
                background: rgba(0, 0, 0, 0.12);

                mat-icon {
                    color: #FFFFFF;
                }
            }
        }

        > .content {
            flex: 1;

            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }

    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }
    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
    .content {



        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .card {
                display: flex;
                align-items: flex-start;
                padding: 24px 0px 24px 20px;
               // margin-bottom: 96px;

                .card-preview {
                    display: flex;
                    min-width: 320px;
                }

                .card-source {
                    display: none;
                }
            }
        }

        &.source {

            .cards {
                flex-direction: column;

                .card {
                    width: 100%;
                    margin-bottom: 24px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                    .card-source {
                        background: #263238;
                        display: flex !important;
                        flex: 1;
                        max-height: 400px;
                        min-width: 400px;
                        margin-left: 24px;
                        overflow: auto;
                        -webkit-overflow-scrolling: touch;
                    }
                }
            }
        }
    }

    // .vtable{


    // }
    .vtable .mat-paginator-page-size{width: 16%;}
    .vtable .mat-paginator-page-size-label{width: 100%}
    table {
        width: 100%;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
      
      td, th {
        width: 25%;
      }
      
     
      
}
