<div id="sample" class="page-layout simple right-sidebar" fxLayout="row">
    <div class="center" fusePerfectScrollbar>
        <div class="header primary-50 p-24" fxLayout="row" fxLayoutAlign="start center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between end" style="background-color:white !important;height: 100px !important;min-height: 100px !important; margin-bottom: -30px;">
            <mat-form-field class="w-100-p" style="max-width:450px;font-size: 18px; margin-bottom: -10px;">
                <input matInput name="Search" placeholder="Search here...">
            </mat-form-field>
            <mat-form-field style="max-width:150px;margin-bottom: -8px;">
                <mat-select placeholder="Select">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-button-toggle-group class="primary" name="fontStyle" aria-label="Font Style" value="ON" style="    margin-bottom: 13px !important;">
                <mat-button-toggle value="ON">ON</mat-button-toggle>
                <mat-button-toggle value="OFF">OFF</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="content">
            <mat-tab-group>
                <mat-tab label="Tile view">
                    <div class="tab-content p-24">
                        <div id="cards" class="page-layout simple fullwidth">
                            <div class="content">
                                <div class="cards">
                                    <div class="card" *ngFor="let item of visualisationData">
                                        <div class="card-preview">
                                            <div class="fuse-card">
                                                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
                                                    <div class="pr-16">
                                                        <div class="h1">{{item.deviceId}} -
                                                            <b [ngStyle]="{'color':item.todayStatus === 'On' ? 'green' : 'red' }">{{item.todayStatus}}</b></div>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <div class="h5 secondary-text">Today: <b>{{item.todayDuration/60|number
                                                                : '1.2-2'}}
                                                                hrs</b> </div>
                                                        <div class="h5 secondary-text">Yesterday: <b>{{item.yesterdayDuration/60|number
                                                                : '1.2-2'}}
                                                                hrs </b></div>
                                                        <div class="h5 secondary-text">D.B.Yesterday: <b>{{item.dbYesterdayDuration/60
                                                                |number : '1.2-2'}}
                                                                hrs </b></div>
                                                    </div>
                                                    <div class="w-120 h-120">
                                                        <img src="../../../assets/images/tubs-off.png">
                                                    </div>
                                                </div>
                                                <!-- <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                        <button mat-button color="accent">Maintenance</button>
                                                        <button mat-button color="accent">Treatment</button>
                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
                    </div>
                </mat-tab>

                <mat-tab label="Table view ">
                    <div class="tab-content p-24">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <div class="content-card">
                            <table class="prodproducts-table" mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </th>
                                    <td mat-cell *matCellDef="let row"> {{row.deviceId}} </td>
                                </ng-container>
                                <ng-container matColumnDef="progress">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                                    <td mat-cell *matCellDef="let row"> {{row.todayStatus}}% </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Device ID </th>
                                    <td mat-cell *matCellDef="let row"> {{row.todayDuration}} </td>
                                </ng-container>
                                <ng-container matColumnDef="color">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Started ON </th>
                                    <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.yesterdayDuration}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>